<div class="container">
  <h1 class="title">Currency Converter</h1>
  <p class="description">Enter an amount and select the currencies you want to convert from and to.</p>

  <%= form_tag("/", :method => :get, :class => "form") do %>
    <div class="form__row">
      <div class="form__field">
        <%= label_tag :amount %><br>
        <%= number_field_tag :amount %>
      </div>
      <div class="form__field">
        <%= label_tag :from %><br>
        <%= select_tag :from, options_for_select(@currencies) %>
      </div>
      <div class="form__field">
        <%= label_tag :to %><br>
        <%= select_tag :to, options_for_select(@currencies) %>
      </div>
    </div>
    
    <div class="form__row">
      <div class="form__field">
        <%= label_tag :date %><br>
        <%= select_date %>
      </div>
      <div class="form__field">
        <%= submit_tag("Convert") %>
      </div>
    </div>
  <% end %>

  <p class="result">
    <% if @converted_amount %>
      <%= @amount %> <%= @from %> = <%= @converted_amount %> <%= @to %> on <%= @formatted_date %>
    <% else %>
      There is no exchange rate for that date, please try again
    <% end %>
  </p>
</div>

